<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/Error" xdt:Transform="Replace" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/InternalServer" />
      <error statusCode="401" redirect="~/Error/Forbidden" />
      <error statusCode="403" redirect="~/Error/Unauthorized" />
    </customErrors>
  </system.web>
</configuration>
