<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] | DEPARTMENT NAME</title>
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />
    <!-- Use highest compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <!-- for Blackberry, AvantGo -->
    <meta name="MobileOptimized" content="320">
    <!-- for Windows mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Google Fonts -->
    <meta property="og:image" content="http://https://template.webstandards.ca.gov/template.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet' type='text/css'>


    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" integrity="sha384-Dv1j0mqPOKbG6R+/4/adHCn5JaMBLG3iu8uTXFBM2MjEZuKwtsyLedRcRMR0cq7P" crossorigin="anonymous">*@
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-html5-2.2.3/cr-1.5.6/fc-4.1.0/fh-3.2.3/r-2.3.0/sc-2.0.6/sl-1.4.0/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/contextMenu/contextMenu.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.css" />-->
    @*State Template core styles*@
    <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.24/css/cagov.core.css" />
    @*State Template color scheme*@
    <link rel="stylesheet" href="https://california.azureedge.net/cdt/statetemplate/5.5.24/css/colorscheme-sacramento.min.css" />

    @*App custom styles*@
    <!--<link rel="stylesheet" href="~/Content/root.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/site.css?date=9.8.23" asp-append-version="true" />-->
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=USE_YOUR_OWN_CODE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'USE YOUR OWN CODE');
    </script>


    <!-- selectivizr.com, emulates CSS3 pseudo-classes and attribute selectors in Internet Explorer 6-8 -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://california.azureedge.net/cdt/statetemplate/5.5.23/js/libs/selectivizr-min.js"></script>
    <![endif]-->
    <!-- Activate ClearType for Mobile IE -->
    <!--[if IE]>
    <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://california.azureedge.net/cdt/statetemplate/5.5.23/js/libs/html5shiv.min.js"></script>
      <script src="https://california.azureedge.net/cdt/statetemplate/5.5.23/js/libs/respond.min.js"></script>
    <![endif]-->
</head>