@{ 
    ViewBag.Title = "403 Forbidden";
}

@section Heading {

    <h1>403 Forbidden</h1>
    
}

<p>
    <strong>Access Denied</strong>: You do not have permission to access this resource. If you believe this is an error, please contact the 
    administrator or check your access rights.
</p>