@{ 
    ViewBag.Title = "404 Not Found";
}

@section Heading {
    
    <h1>404 Not Found</h1>
    
}

<p>
    <strong>Not Found</strong>: The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, 
    or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly.
</p>

<p>
    <strong>Requested URL</strong>: @ViewBag.RequestedUrl
</p>
