:root {
    --main-color: rgb(16,65,105);
    --secondary-color: #fbad24;
    --secondary-light-trans: rgba(251, 173, 35, 0.22);
}

body {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 300;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    transition: height .3s ease-out;
}

    body.modal-open {
        padding-right: 0px !important; /* fix background moving on modal open*/
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, table thead {
    font-family: inherit;
}

h1, .h1, h2, h3, h4, table thead {
    color: #000000b8;
    font-weight: 600;
}

.modal-header {
    background-color: #153554;
    color: white;
    border-bottom: 3px solid #fbad23;
}

.modal-title {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    width: 100%;
}

table .btn-link {
    display: contents;
    font-size: inherit;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

b, strong {
    font-weight: 600;
}

.first-level-link, .first-level-btn {
    font-family: 'Roboto',sans-serif !important;
    font-weight: 400;
}

div#main-content {
    flex: 1;
}

header#header {
    background-color: #f9f9f9;
    border-bottom: 3px solid var(--secondary-color);
}

header .btn.show.btn-secondary {
    color: #555;
}

h1 span[class^="ca-gov-icon-"]:first-child,
.h1 span[class^="ca-gov-icon-"]:first-child {
    display: inline;
}

.p-x-xl {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.parsley-required {
    color: #ff1111;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
span.select2-selection.parsley-error {
    background-color: #ffe2e2;
}

@media (min-width: 992px) {
    .branding {
        height: 90px !important;
    }

    .p-x-xl {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
}


.utility-header [class^="ca-gov-icon-"] {
    color: white;
}

ul#nav_list {
    margin: 0 !important;
}

main a:not(.btn),
main button.btn-link {
    color: #0c4c91;
    text-decoration: none !important;
}

    main a:not(.btn):hover {
        color: #02374e;
        text-decoration: none !important;
    }


th.nowrap, td.nowrap {
    white-space: nowrap;
}

table a {
    color: #50aee4;
}


div.well {
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table.dataTable.table-striped > tbody > tr.odd > * {
    box-shadow: none;
}

.card {
    border: 0;
}

    .card .card-body {
        border-top: none;
    }

        .card .card-body a {
            color: #0c4c91;
        }

    .card.card-primary {
        background-color: inherit;
        color: inherit;
    }

        .card.card-primary .card-body {
            border: 1px solid #00000038;
            border-top: none;
        }

        .card.card-primary .card-header {
            background-color: var(--main-color);
            border-bottom: 4px solid var(--secondary-color);
            color: white;
        }

.nav-link {
    color: #0c4c91;
}

.page-item.active .page-link {
    background-color: #0c4c91;
}

div.myprofile-settings {
    background-color: #f7f7f7;
}

    div.myprofile-settings button.close {
        position: relative;
        right: 2px;
        color: #928888;
        text-shadow: none;
        opacity: 0.8;
        font-size: 2.5em;
        top: -186px;
        height: 24px;
    }

        div.myprofile-settings button.close span {
            position: relative;
            top: -10px;
        }



    div.myprofile-settings fieldset {
        display: block;
        border: 2px;
        border-style: solid;
        border-color: threedface;
        border-image: initial;
    }

    div.myprofile-settings legend {
        margin-bottom: 0px;
        display: inline;
        width: auto;
        margin-bottom: -16px;
        padding-bottom: 7px;
    }

        div.myprofile-settings legend span.ca-gov-icon {
            color: #4e4e4eb5;
        }

.my-spinner-div {
    display: flex;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;
    align-items: center;
}

.card-primary a:not(.btn):focus, .card-primary a:not(.btn):hover {
    color: #153554;
    text-decoration: underline;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd !important;
    pointer-events: none;
    cursor: default;
}

#navigation li.nav-item.active {
    box-shadow: 0px 3px #153554;
}

#navigation .first-level-link > span[class^=ca-gov-icon]:not(.carrot) {
    color: #153554c7;
}

    #navigation .first-level-link > span[class^=ca-gov-icon]:not(.carrot):hover {
        color: #153554c7;
    }

.nav-item:focus, .nav-item:hover {
    background-color: transparent;
    box-shadow: 0px 3px #153554;
}

main h1,
main h2,
main h3,
main h4 {
    margin: 0px auto;
}

main h1 {
    font-size: 1.6em;
}

main h2 {
    font-size: 1.1em;
}

div.container p,
div.container ul {
    margin: 0.5rem auto !important;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: none;
}


/*modify checkbox size*/
input[type=checkbox] {
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    margin: 10px 0px 0px 0px;
}

    input[type=checkbox] ~ span,
    input[type=checkbox] ~ label {
        margin-left: 10px;
    }

/*modify radio size*/
input[type=radio] {
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    margin: 5px 15px 5px 10px;
}

    input[type=radio] ~ span,
    input[type=radio] ~ label {
        margin-left: 35px;
    }


/* toastr opacity*/
#toast-container > div {
    opacity: 1;
}

a.iconbox {
    color: #9fc7da !important;
    text-decoration: none;
    background-color: #dae7ee;
}

.iconbox {
    /*padding: 20px;*/
    border: 1px solid #ddd;
    display: block;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

    .iconbox p {
        margin-bottom: 0;
    }

.icon-wrap {
    background: #104169;
    padding: 7px;
    /*margin-right: 15px;*/
    text-align: center;
    border-bottom: 3px solid #fbad23;
    border-right: none;
}

    .icon-wrap em {
        font-size: 26px;
        width: 3rem;
    }

div.text-center h3.h5, div.text-center h2.h5 {
    margin: 11px;
    color: #000000;
}

a.iconbox:hover {
    color: #fbad23 !important;
    text-decoration: underline !important;
}


a.iconbox:focus {
    color: #fbad23;
}

aside {
    margin-bottom: 10px;
}

    aside:hover {
        color: #fbad23 !important;
        text-decoration: underline !important;
    }

.doc-icon {
    width: 16px;
    height: 16px;
}


section#footer {
    padding: 30px 0;
}

    section#footer .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

#header-menu-dropdown a:not(.disabled) {
    color: black
}

#header-menu-dropdown-button {
    border-top: none;
    border-bottom: none;
    min-height: 40px;
    border-radius: 0px;
    background-color: #f9f9f9;
}

.utility-header .flex-row .settings-links a {
    margin: auto;
    font-size: inherit;
    padding: 5px 10px;
}

#footer {
    background: #104169 !important;
    border-top: 4px solid #fdb81e;
}

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #fdb81e;
    }

    #footer p {
        color: #fdb81e;
        font-size: 85%;
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.social li {
        padding: 3px 0;
    }

        #footer ul.social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        #footer ul.social li:hover a i {
            font-size: 30px;
            margin-top: -10px;
        }

        #footer ul.social li a,
        #footer ul.quick-links li a {
            color: #ffffff;
        }

            #footer ul.social li a:hover {
                color: #eeeeee;
            }

    #footer ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        #footer ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        #footer ul.quick-links li a i {
            margin-right: 5px;
        }

        #footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
        font-size: 120%;
        text-align: center;
    }

    #footer ul li {
        display: block;
    }