@{
    ViewBag.Title = "Three Columns";
    Layout = "~/Views/Shared/_ThreeColumnLayout.cshtml";
}

@section Heading {
    <h1>Three Columns</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
}


@section LeftColumn {

    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Container with content</h2>
            </div>
            <div class="card-body">
                <p>Some content</p>
            </div>
        </div>
    </div>

}

@section MiddleColumn {
    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #1</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #2</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #3</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>
}

@section RightColumn {

    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #1</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #2</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Some Heading #3</h2>
            </div>
            <div class="card-body">
                Content...
            </div>
        </div>
    </div>

}