<div class="dropdown" id="header-menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="header-menu-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
        @System.Security.Claims.ClaimsPrincipal.Current.Identity.Name
    </button>
    <div class="dropdown-menu" aria-labelledby="header-menu-dropdown-button">
        <a class="dropdown-item" href="~/Profile">
            <i class="bi bi-person-fill" aria-hidden="true"></i>
            My Profile
        </a>
    </div>
</div>